
{% autoescape off %}
{% load static %}
<body style="background-color: #f3f5f7; margin: 0 !important; padding: 0 !important;">                             
    <!-- HIDDEN PREHEADER TEXT -->
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Poppins', sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
      
    </div>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- LOGO -->
    <tr>
      <td align="center" style="padding: 0px 10px 0px 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
          <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 10px 10px 10px;">
          <a href="#" target="_blank">
          <img alt="" src="http://{{domain}}{% static 'image/catalog/crocheta-logo-new.png' %}"  style="max-height: 240px; max-width: 80px;" border="0">
          </a>
        </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- HERO -->
    
    <tr>
      <td align="center" style="padding: 0px 10px 0px 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td bgcolor="#ffffff" align="left" valign="top" style="padding: 20px 20px 10px 10px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Poppins', sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 2px; line-height: 48px;">
              <p style="font-size: 14px; font-weight: 600; margin: 10px 13px;">Dear {{user.first_name}},</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- COPY BLOCK -->
    <tr>
      <td align="center" style="padding: 0px 10px 0px 10px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <!-- COPY -->
          <tr>
          <td bgcolor="#ffffff" align="left" style="padding: 10px 10px 20px 10px; color: #666666; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; line-height: 25px;">
                <p style="margin:10px 13px; font-size: 14px;">{{message}}</p>
          </td>
          </tr>
          
         
          <!-- COPY -->
          <tr>
          <td bgcolor="#ffffff" align="left" style="padding: 10px 10px 20px 10px; color: #666666; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; line-height: 25px;">
            <p style="margin:10px 13px; font-size: 12px;">Best regards,</p>
          </td>
          </tr>
          
          <!-- COPY -->
          <tr>
          <td bgcolor="#ffffff" align="left" style="padding: 10px 10px 40px 10px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; line-height: 25px;">
            <p style="margin:10px 13px; font-size: 12px;">CrochetAndHooks</p>
          </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="center" style="padding: 0px 10px 50px 10px;">
    
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
     
      <tr>
        <td bgcolor="#ffffff" align="left" style="padding: 10px 10px 10px 10px; color: #aaaaaa; font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 18px;">
        <p style="margin:20px 13px; font-size: 12px;">For any questions, concerns, or assistance, our support team is here to help. You can reach us by sending a <a href="mailto:support@crochetandhooks.com">mail</a></p>
        </td>
      </tr>
     
    <!-- COPYRIGHT -->
      <tr>
        <td align="center" style="padding: 50px 10px 10px 10px; color: #333333; font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 18px;">
        <p style="margin: 70px 0 20px; font-size: 12px;">Copyright © crochetandhooks.com. All rights reserved.</p>
        </td>
      </tr>
      </table>
      </td>
    </tr>
  </table>
  </body>
  {% endautoescape %}