
<aside id="column-right" class="col-sm-4 col-md-3 col-xs-12">
    <div class="list-group accolumn">
    <h3 class="">DASHBOARD</h3>    
    <a href="{% url 'dashboard' %}" class="list-group-item"><i class="fa fa-home mr-2"></i> home</a> 
    <a href="{% url 'my_orders' %}" class="list-group-item"><svg class="" width="14px" height="14px"> <use xlink:href="#aclorder"></use> </svg> My Order</a> 
    <a href="{% url 'edit_profile' %}" class="list-group-item"><svg class="" width="14px" height="14px"> <use xlink:href="#acluser"></use> </svg> Edit Profile</a>  
    <a href="{% url 'change_password' %}" class="list-group-item"><svg class="icon" width="14px" height="14px"><use xlink:href="#acllock"></use></svg> Change Password</a>
    <hr class="producthr">
    <a href="{% url 'logout' %}" class="list-group-item"><svg class="icon" width="14px" height="14px"><use xlink:href="#aclogout"></use></svg> Logout</a>

</div>
</aside>