{% load static %}
<footer>

    <div class="container">
      <div class="footer-top text-center">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="fotbag">
      <div class="middle-footer">
        <div class="container">
          <div class="row">
            <aside id="column-left1" class="foot_left col-md-3 col-sm-12 col-xs-12">
              <div id="logo" class="foot_logo"><a href=""><img src="{% static 'image/catalog/logo.png' %}" title="" alt=""
                    class="img-responsive"></a> </div>
              <div>
                <div class="foot-des">
                  Lorem Ipsum is not simply random text roots to popular belief It has roots in a piece of classical
                  Lorem
                  Ipsum is not simply random text root.
                </div>
                <div class="block-social">
                  <h4 class="c-info">follow us</h4>
                  <ul class="list-unstyled fsocial list-inline">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li class="vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                  </ul>
                </div>
              </div>

              <script type="text/javascript">
                (function ($) {
                  $("#testi").owlCarousel({
                    itemsCustom: [
                      [0, 1]
                    ],
                    autoPlay: false,
                    navigationText: ['<svg width="15px" height="15px"><use xlink:href="#arleft"></use></svg>', '<svg width="15px" height="15px"><use xlink:href="#arright">'],
                    navigation: false,
                    pagination: true
                  });
                }(jQuery));

              </script>
            </aside>
            <div class=" lborder">
              <div class="col-md-3 col-sm-4 col-xs-12 fborder">
                <h5>Information
                  <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                    data-target="#info"></button>
                </h5>
                <div id="info" class="collapse footer-collapse">
                  <ul class="list-unstyled">
                    <li><a href="index.php-60.html?route=information/information&amp;information_id=4">About Us</a></li>
                    <li><a href="index.php-61.html?route=information/information&amp;information_id=6">Delivery
                        Information</a></li>
                    <li><a href="index.php-62.html?route=information/information&amp;information_id=3">Privacy
                        Policy</a></li>
                    <li><a href="index.php-63.html?route=information/information&amp;information_id=5">Terms &amp;
                        Conditions</a></li>
                    <li><a href="index.php-39.html?route=account/newsletter">Newsletter</a></li>
                    <li><a href="index.php-35.html?route=information/contact">Contact Us</a></li>
                    <li><a href="index.php-64.html?route=information/sitemap">Site Map</a></li>

                  </ul>
                </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12 fborder">
                <h5>My Account
                  <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                    data-target="#account"></button>
                </h5>
                <div id="account" class="collapse footer-collapse">
                  <ul class="list-unstyled lastb">
                    <li><a href=""></a></li>
                    <li><a href="index.php-39.html?route=account/account">My Account</a></li>
                    <li><a href="index.php-39.html?route=account/order">Order History</a></li>
                    <li><a href="index.php-39.html?route=account/wishlist">Wish List</a></li>
                    <li><a href="index.php-65.html?route=affiliate/login">Affiliate</a></li>
                    <li><a href="index.php-36.html?route=account/return/add">Returns</a></li>
                    <li><a href="index.php-34.html?route=product/special">Specials</a></li>
                    <li><a href="index.php-66.html?route=account/voucher">Gift Certificates</a></li>
                  </ul>
                </div>
              </div>

            

              <div class="col-md-3 col-sm-4 col-xs-12 fborder">
                <aside id="column-right1">
                  <div>
                    <div class="storeinfo">
                      <h5><span>Contact us</span>
                        <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                          data-target="#contact"></button>
                      </h5>
                      <div id="contact" class="collapse footer-collapse footcontact">
                        <ul class="list-unstyled f-left">
                          <li><svg width="20px" height="20px">
                              <use xlink:href="#add"></use>
                            </svg>1093 Marigold Lane<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coral
                            Way<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;surat</li>
                          <li><svg width="20px" height="20px">
                              <use xlink:href="#phone"></use>
                            </svg>610-403-403</li>
                          <li><svg width="22px" height="22px">
                              <use xlink:href="#mail"></use>
                            </svg>company@example.com</li>
                        </ul>
                        <ul class="list-inline list-unstyled foot-payment">
                          <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                          <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                          <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                          <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        </ul>

                      </div>
                    </div>
                  </div>

                  <script type="text/javascript">
                    (function ($) {
                      $("#testi").owlCarousel({
                        itemsCustom: [
                          [0, 1]
                        ],
                        autoPlay: false,
                        navigationText: ['<svg width="15px" height="15px"><use xlink:href="#arleft"></use></svg>', '<svg width="15px" height="15px"><use xlink:href="#arright">'],
                        navigation: false,
                        pagination: true
                      });
                    }(jQuery));

                  </script>
                </aside>
              </div>

            </div>
          </div>
          <div class="footblink col-xs-12" style="border: 0;">
          

            <script type="text/javascript">
              (function ($) {
                $("#testi").owlCarousel({
                  itemsCustom: [
                    [0, 1]
                  ],
                  autoPlay: false,
                  navigationText: ['<svg width="15px" height="15px"><use xlink:href="#arleft"></use></svg>', '<svg width="15px" height="15px"><use xlink:href="#arright">'],
                  navigation: false,
                  pagination: true
                });
              }(jQuery));

            </script>
            <div class="newsl webi-newsletter" id="newsletter_6704215a3c7ec" data-mode="default">
              <form id="formNewLestter" method="post"
                action="https://opencart.dostguru.com/FS01/fashpad_01/index.php?route=extension/module/webinewsletter/subscribe"
                class="formNewLestter">
                <div class="inner new-bag" style="border: 0;margin-top: 0;">
                  <div id="newsletter">
                    <h5>Sign Up For Newsletter</h5>
                    <div class="description-top"> Make sure that you never miss our interesting news and exclusive
                      promotion. No spam, Ever!


                    </div>
                    <div class="block_newsletter email-f">
                      <div class="input-group">
                        <input type="text" class="form-control input-md inputNew"
                          onblur="javascript:if(this.value=='')this.value='Your email address';"
                          onfocus="javascript:if(this.value=='Your email address')this.value='';"
                          value="Your email address" size="18" name="email" placeholder="Your email address">

                        <div class="input-group-btn"><button type="submit" name="submitNewsletter"
                            class="btn btn-primary">Submit</button></div>
                      </div>
                    </div>

                    <input type="hidden" value="1" name="action">
                    <div class="valid"></div>
                    <div class="description-bottom">


                    </div>
                  </div>
                </div>
              </form>
            </div>

            <script type="text/javascript">
            <!-
$("#newsletter_6704215a3c7ec").webiNewsletter().work(  'Email is not valid!' );
->
</script>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center copy">
      <div class="container">
        <div class="">
          <div class="row">
            <div class="fpow">Powered By <a href="#">OpenCart</a> fashpad &copy; 2024</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="" id="scroll" title="Scroll to Top" style="display: none;">
    <i class="fa fa-angle-double-up"></i>
  </a>

</body>

</html>