{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="breadbg">
    <div class="container">
      <div class="row">
        <ul class="breadcrumb">
          <li><a href="{% url 'store' %}"><i class="fa fa-home"></i></a></li>
          <li><a href="{{ single_product.images.url }}">{{ single_product.product_name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="product-product" class="container">
    {% include 'includes/alerts.html' %}
    <div class="row">
      <div id="content" class="col-xs-12">
        <div class="productbg">
          <div class="row">
            <div class="col-sm-6 col-lg-5 col-md-6 col-xs-12 proimg sticky">
              <ul class="thumbnails">
                <li>
                  <a class="thumbnail" href="{{ single_product.images.url }}"
                    title="{{ single_product.product_name }}">
                    <img
                      data-zoom-image="{{ single_product.images.url }}"
                      src="{{ single_product.images.url }}" id="zoom_03" class="img-responsive center-block"
                      alt="image">
                  </a>
                </li>
                <div class="row">
                  <li id="gallery_01" class="owl-carousel">
                    {% for product_image in product_gallery %}
                    <a
                      data-zoom-image="{{product_image.image.url}}"
                      data-image="{{product_image.image.url}}"
                      href="{{product_image.image.url}}" class="col-xs-12 addpa">
                      <img src="{{product_image.image.url}}" class="img-responsive center-block"
                        alt="additional image">
                    </a>
                    <a
                    data-zoom-image="{{ single_product.images.url }}"
                    data-image="{{ single_product.images.url }}"
                    href="{{ single_product.images.url }}" class="col-xs-12 addpa">
                    <img src="{{ single_product.images.url }}" class="img-responsive center-block"
                      alt="additional image">
                  </a>
                    {% endfor %}
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-lg-7 col-md-6 col-xs-12 col-sm-6 pro-content">
              <h1>{{ single_product.product_name }}</h1>
              <hr class="producthr">
              <ul class="list-unstyled">
                <li><span class="text-decor">Brand:</span><a
                    href="index.php-156.html?route=product/manufacturer/info&amp;manufacturer_id=8"
                    class="textdeb">Apple</a></li>
                <li><span class="text-decor">Product Code:</span>Product 15</li>
                <li><span class="text-decor">Collection:</span>100 product</li>
                <li><span class="text-decor">Availability:</span>
                    {% if single_product.stock > 0 %}
                    In Stock
                    {% else %}
                    Out Of Stock
                    {% endif %}
                </li>
                <hr class="producthr">
              </ul>

              <ul class="list-unstyled">
                <li class="text-decor-bold">
                  <h2 class="pro-price">$122.00</h2>
                </li> <!--            <li>Ex Tax:$100.00</li> -->
                <li class="text-decor-bold">Price in reward points:400</li>
                <li>
                  <hr class="producthr">
                </li>
              </ul>

              <form action="{% url 'add_cart' single_product.id %}" method="POST">
                {% csrf_token %}
              <div id="product">
                <hr class="producthr">
                <h3>Available Options</h3>
                <div class="form-group required">
                  <label class="control-label text-decorop">Sizes</label>
                  <div id="input-option218" class="custom-radio">
                    <div class="radio">
                      <label>
                        <input type="radio" name="size" value="default" checked> Default </label>
                    </div>
                    {% for size in single_product.variation_set.sizes %}
                    <div class="radio">
                        <label>
                            {% if size.stock > 0 %}
                            <input type="radio" name="size" value="{{ size.variation_value | lower }}"> {{ size.variation_value | capfirst }} 
                            {% else %}
                            <span class="text-danger"> {{ size.variation_value | capfirst }} (Out of Stock) </span>
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}

                  </div>
                </div>

                <div class="form-group required">
                  <label class="control-label text-decorop" for="input-option217">Colour</label>
                  <select name="color" id="input-option217" class="form-control">
                    <option value="default" > --- Please Select --- </option>
                    {% for color in single_product.variation_set.colors %}
                    {% if color.stock > 0 %}
                    <option value="{{ color.variation_value | lower }}">{{ color.variation_value | capfirst }}</option>
                    {% else %}
                    <option value="{{ color.variation_value | lower }}" disabled>
                        {{ color.variation_value | capfirst }} (Out of Stock)
                    </option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                
                <div class="form-group">
                  <hr class="producthr">

                  {% if single_product.stock <= 0 %}
                  <button type="button" disabled id="button-cart" data-loading-text="Loading..."
                  class="btn pcrt add-to-cart btn-primary">out of stock</button>
                  {% else %}
                    <button type="submit" id="button-cart" data-loading-text="Loading..."
                    class="btn pcrt add-to-cart btn-primary">add to cart</button>
                    <!-- <a href="{% url 'add_cart' single_product.id %}" id="button-cart" data-loading-text="Loading..."
                    class="btn pcrt add-to-cart btn-primary">add to cart</a> -->
                  {% endif %}
                </form>

                    <a href="{% url 'cart' %}" data-toggle="tooltip" title="View Cart"
                    class="btn pcrt btn-primary"><svg width="18px" height="17px">
                      <use xlink:href="#pcart"></use>
                    </svg></a>

                  <button type="button" data-toggle="tooltip" title="Like" class="btn pcrt btn-primary"
                    ><svg width="18px" height="17px">
                      <use xlink:href="#heart"></use>
                    </svg></button>

                    <a href=" {% for category in links %}
                                {% if single_product.category == category  %}
                                  {{ category.get_url }}
                                {% endif %}
                              {% endfor %}" data-toggle="tooltip" title="Compare this Product" class="btn pcrt  btn-primary"
                    ><svg width="18px" height="17px">
                      <use xlink:href="#compare"></use>
                    </svg></a>
                  <hr class="producthr">
                </div>
                
                <!-- Quantity option end -->
                {% if single_product.stock > 0 %}
                <div class="alert alert-info palert"><i class="fa fa-info-circle"></i>This product has a minimum
                  quantity of {{ single_product.stock }}</div>
                  {% else %}
                  <div class="alert alert-danger palert"><i class="fa fa-info-circle"></i>This product has a minimum
                    0</div>
                    {% endif %}
              </div>
              <div class="rating">
                <li><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                      class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i
                      class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span><span
                    class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                      class="fa fa-star-o fa-stack-1x"></i></span><span class="fa fa-stack"><i
                      class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span><span
                    class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                      class="fa fa-star-o fa-stack-1x"></i></span> </li>
                <li class="proreview">
                  <a id="ratecount" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">1
                    reviews</a>
                </li>
                <li>
                  <a id="ratep" href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write
                    a review</a>
                </li>
               
              </div>
            </div>
          </div>
          <div class="product-tab">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
             
              <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-description">
                <p>
                  Vivamus eros velit, tincidunt sed finibus et, porttitor non urna. Nulla
                  dictum ac enim eget feugiat. Nullam ac purus arcu. Pellentesque pharetra
                  accumsan accumsan. Praesent non sapien vel lectus faucibus blandit.
                  Aliquam viverra est ac vestibulum pretium. Praesent consequat non lectus
                  eget pharetra. Nam fringilla metus ipsum, ut pulvinar justo facilisis
                  laoreet. Vestibulum sollicitudin mi quis ligula varius dignissim.
                </p>

                Proin rutrum, felis quis commodo sollicitudin, neque mauris semper ex, a
                malesuada dui quam vitae augue. Nunc quis est sed magna vestibulum
                porttitor ut nec est. Pellentesque egestas neque ut semper commodo.
                Morbi mauris diam, maximus id nunc vel, molestie bibendum lorem.
                Praesent diam tellus, dictum vel massa et, ultrices aliquam ante.
                Praesent dictum quis risus sit amet aliquam. Sed fermentum tortor a mi
                vestibulum, eu feugiat eros suscipit. Phasellus in turpis vitae eros
                viverra ullamcorper id finibus neque. Pellentesque lacus odio, pulvinar a
                neque a, dictum tristique tellus. Vestibulum efficitur sagittis neque
                vel tristique. Morbi vitae nunc leo. Curabitur lacinia id diam et
                dignissim
              </div>
              
              <div class="tab-pane" id="tab-review">
                <form class="" id="form-review">
                  <div id="review">
                    <li>hello</li>
                  </div>
                  <h2 class="co-heading">Write a review</h2>
                  <div class="form-group required row">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-name">Your Name</label>
                      <input type="text" name="name" value="" id="input-name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group required row">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-review">Your Review</label>
                      <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                      <!-- <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div> -->
                    </div>
                  </div>
                  <div class="form-group required">

                    <div class="radi">
                      <label class="control-label" for="input-review">Rating</label>
                      <div class="form-rating">

                        <div class="form-rating-container pull-left">
                          <input id="rating-5" type="radio" name="rating" value="5">
                          <label class="fa fa-stack pull-right" for="rating-5">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </label>
                          <input id="rating-4" type="radio" name="rating" value="4">
                          <label class="fa fa-stack pull-right" for="rating-4">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </label>
                          <input id="rating-3" type="radio" name="rating" value="3">
                          <label class="fa fa-stack pull-right" for="rating-3">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </label>
                          <input id="rating-2" type="radio" name="rating" value="2">
                          <label class="fa fa-stack pull-right" for="rating-2">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </label>
                          <input id="rating-1" type="radio" name="rating" value="1">
                          <label class="fa fa-stack pull-right" for="rating-1">
                            <i class="fa fa-star fa-stack-1x"></i>
                            <i class="fa fa-star-o fa-stack-1x"></i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buttons clearfix">
                    <div class="pull-right">
                      <button type="button" id="button-review" data-loading-text="Loading..."
                        class="btn btn-primary">Continue</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- relatedproduct -->
          <div class="relpro">
            <div class="heading text-center">
              <h1><span>Related Products</span></h1>
            </div>
            <div class="row xspspace rless">
              <div id="related" class="owl-carousel owl-theme">
                
                {% for product in products %}
                <div class="col-xs-12 col-sm-12 product-layout col-xs-12 cless">
                  <div class="product-thumb transition">
                    <div class="image"><a href="{{ product.get_url }}"><img
                          src="{{ product.images.url }}" alt="{{ product.product_name }}"
                          title="{{ product.product_name }}" class="img-responsive center-block"></a>
                      <!-- -->

                    </div>
                    <div class="caption">
                      <!--          <div class="rating">          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span></div> -->
                      <h4 class="protitle"><a href="{{ product.get_url }}">
                        {{ product.product_name }}</a></h4>
                      <div class="price">NGN {{ product.price }}</div>

                      <div class="button-group">
                        <form action="
                        {% if product.variation_set.exists %}
                          {{ product.get_url }}
                        {% else %}
                          {% url 'add_cart' product.id %}
                        {% endif %}
                        " style="display: inline;" method="post">
                          {% csrf_token %}
                        <button type="submit" data-toggle="tooltip" title="add to cart" ><svg>
                            <use xlink:href="#pcart"></use>
                          </svg></button>
                        </form>

                        <button type="button" data-toggle="tooltip" title="Like"
                          ><svg>
                            <use xlink:href="#heart"></use>
                          </svg></button>
                          
                          <form action="{% for category in links %}
                          {% if product.category == category  %}
                            {{ category.get_url }}
                          {% endif %}
                        {% endfor %}" style="display: inline;" method="post">
                            {% csrf_token %}
                        <button type="submit" data-toggle="tooltip" title="Compare this Product"
                          ><svg>
                            <use xlink:href="#compare"></use>
                          </svg></button>
                        </form>

                          <form action="{{ product.get_url }}" style="display: inline;" method="post">
                            {% csrf_token %}
                        <button type="submit" data-toggle="tooltip" title="Quickview"><svg>
                          <use xlink:href="#bquick"></use>
                        </svg></button>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- -->
           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
$(document).ready(function() {
$('.thumbnails').magnificPopup({
type:'image',
delegate: 'a',
gallery: {
enabled: true
}
});
});
  </script>

<script>
  if (jQuery(window).width() >= 1200) {
    //initiate the plugin and pass the id of the div containing gallery images
    $("#zoom_03").elevateZoom({ gallery: 'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: '' });
    //pass the images to Fancybox
    $("#zoom_03").bind("click", function (e) {
      var ez = $('#zoom_03').data('elevateZoom');
      $.fancybox(ez.getGalleryList());
      return false;
    });
  }
</script>
<!--ZOOM END-->

<script type="text/javascript">
  (function ($) {
    $("#related").owlCarousel({
      itemsCustom: [
        [0, 1],
        [320, 2],
        [600, 3],
        [992, 3],
        [1200, 4],
        [1410, 4]
      ],
      // autoPlay: 1000,
      navigationText: ['<svg width="15px" height="15px"><use xlink:href="#arleft"></use></svg>', '<svg width="15px" height="15px"><use xlink:href="#arright">'],
      navigation: true,
      pagination: false
    });
  }(jQuery));
</script>

<!--slider for product-->
<script type="text/javascript">
$('#gallery_01').owlCarousel({
itemsCustom : [
[0, 2],
[320, 3],
[600, 5],
[768, 4],
[992, 4],
[1200, 4],
[1410, 4]
],
autoPlay: 1000,
autoPlay: true,
navigation: false,
navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
pagination: false
});
</script>
{% endblock %}